includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - .
    excludePaths:
        - node_modules/*
        - storage/*
        - vendor/*
    level: 6
    ignoreErrors:
        - identifier: missingType.iterableValue
          path: app/Services/GitProviders/Interfaces/Mapper.php
